.wrap-content-ab {
    display: flex;
    gap: 2rem;
    /* background-color: aqua; */
    margin-bottom: 3rem;
}

.img-ab {
    width: 50%;
}

.about-us-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    /* background-color: bisque; */
}

.title-ab {
    font-style: italic;
    font-size: 2.4rem;
    font-weight: 700;
}

.content-ab {
    font-style: italic;
    font-size: 0.9rem;
    font-weight: 200;
    margin-bottom: 1.2rem;

    line-height: 1.4rem;
}

@media only screen and (max-width: 749px) {
    .img-ab {
        width: 100%;
        align-self: center;
    }

    .wrap-content-ab {
        flex-direction: column;
    }
}
