.card-container-card-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #f3f4f6, #e3e8ef);
    margin: 0;
    padding: 0;
}

.card-card-1 {
    background: #ffffff;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    width: 280px;
    transform: perspective(1000px) rotateX(0deg);
    transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.card-card-1:hover {
    transform: perspective(1000px) rotateX(5deg);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.25);
}

.card-image-card-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 30px; */
    background: linear-gradient(135deg, #007bff, #0056b3);
    backdrop-filter: blur(10px);
}

.card-image-card-1 img {
    max-width: 100%;
    height: auto;
    /* animation: float-card-1 3s ease-in-out infinite; */
}

@keyframes float-card-1 {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

.card-content-card-1 {
    padding: 25px;
    text-align: center;
    background: #f8fafc;
}

.card-title-card-1 {
    font-size: 20px;
    font-weight: 700;
    color: #333;
    margin: 0;
    margin-bottom: 10px;
}

.card-title-card-1:hover {
    color: #ff7a18;
    cursor: pointer;
}

.card-button-card-1 {
    margin-top: 15px;
    display: inline-block;
    padding: 12px 25px;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    background: linear-gradient(135deg, #ff7a18, #af002d);
    border-radius: 50px;
    text-decoration: none;
    transition: background 0.4s ease, transform 0.3s ease;
    box-shadow: 0 5px 10px rgba(175, 0, 45, 0.3);
}

.card-button-card-1:hover {
    background: linear-gradient(135deg, #833700, #af002d);
    transform: translateY(-3px);
    box-shadow: 0 8px 15px rgba(175, 0, 45, 0.5);
}
