.card5-cus {
    display: flex;
    flex-direction: column;
    width: 17rem;
    height: 25.7rem;
    justify-content: space-between;
    padding: 0.5rem;
    border: solid 1px;
    border-radius: 12px;
    border-color: #e3c8a8;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    text-decoration: none;
    color: #000000;
}

.card5-cus:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.wrap-main-c5 {
    display: flex;
    flex-direction: column;
}

.wrap-img-c5 {
    position: relative;
    margin-bottom: 4px;
    overflow: hidden; /* Ensures image stays within bounds */
    border-radius: 12px;
}

.card-img-c5 {
    width: 100%;
    height: 100%;
    max-height: 16.5rem;
    transition: transform 0.3s ease;
    border-radius: 12px;
}

.wrap-img-c5:hover .card-img-c5 {
    transform: scale(1.1);
}

.promo-c5 {
    position: absolute;
    top: 6%;
    left: 3%;

    background-color: #ffffff;
    color: #000000;
    padding: 3px 2px;

    border-radius: 4px;
}

/* .wrap-content-c5 {
    display: flex;
    width: 100%;
    justify-content: space-between;
} */

.product-name-c5,
.price-c5 {
    font-size: 1.2rem;
}

.category-c5 {
    font-style: italic;
    font-size: 0.9rem;
    color: gray;
}

.price-c5 {
    display: flex;
    align-items: center;
    height: 100%;
    color: #d8af7d;
    font-weight: 900;
    align-self: end;
}

.foot-content-c5 {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 3px;
}

.wrap-foot-c5 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5%;
}

.foot-icon-c5 {
    align-self: center;
    font-size: 1.4rem;
    border-radius: 100%;
    padding: 12px;
    color: #866d4e;
    background-color: #d8af7d;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.card5-cus:hover .foot-icon-c5 {
    background-color: #866d4e;
    color: #ffffff;
}

.add-c5 {
    width: 100%;
}
