/* welcome section */
div,
span,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: normal;
}
.welcome-sention {
    width: 100%;
}

.wrap-wel-img {
    position: relative;
}

.wrap-wel-img img {
    width: 100%;
    height: 100vh;
    max-height: 900px;

    margin: 0;
    padding: 0;
}

.wrap-text-img {
    position: absolute;
    top: 60%;
    left: 2%;

    display: flex;
    flex-direction: column;
    width: 35%;
    height: 30%;
    /* background-color: aqua; */
    /* top: 45%; */
}

.wel-title {
    font-size: 3.4rem;
    font-weight: 800;
    background: -webkit-linear-gradient(0deg, #ff7a18, #af002d, #feb47b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* margin-bottom: 12px; */
}

.wel-text {
    font-size: 2.2rem;
}

.wrap-btn-wel-shop {
    /* background-color: aliceblue; */
    margin-top: 14px;
    /* max-width: 70%; */

    display: flex;
    height: 100%;
    /* justify-content: end; */
    align-items: start;
}

/* portal section */
.wrap-portal {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* background-color: aqua; */
    padding: 10px 15px;
    /* border: 0.18rem solid; */
    border-color: #af002d;
    border-radius: 14px;
}

.portal-menu {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.portal-title {
    font-size: 2.1rem;
}

/* Promo Section */
.promo-section .wrap-img-promo-section {
    position: relative;
    width: 100%;
    height: auto;
    max-height: 420px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.promo-section .wrap-img-promo-section img {
    width: 100%;
    height: 254px;

    filter: blur(5px);
}

.wrap-img-promo-section .wrap-promo {
    position: absolute;
    /* top: 40%;
    left: 40%; */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrap-img-promo-section .promo-spesial {
    color: #502100;

    font-size: 1.4rem;
    font-weight: 800;
    margin-bottom: 12px;
}
.wrap-img-promo-section .segera-tiba {
    font-size: 1.9rem;
}

/* Best Product Section */
.best-product-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* background-color: aqua; */
}

.best-product-section .wrap-best-product {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.wrap-best-product .product-card-2 {
    flex-grow: 1;
}

.gradient-text {
    font-weight: bold; /* Tetap mempertahankan font-weight bold */
    font-size: 2rem; /* Sesuaikan ukuran teks */
    background: linear-gradient(45deg, #ff7e5f, #feb47b); /* Warna gradasi */
    -webkit-background-clip: text; /* Membuat latar belakang hanya berlaku untuk teks */
    -webkit-text-fill-color: transparent; /* Membuat isi teks transparan untuk menampilkan gradasi */
}
