.hover10 {
    -webkit-filter: grayscale(0) blur(0);
    filter: grayscale(0) blur(0);
    -webkit-transition: 0.3s ease-in-out;
    /* transition: 0.5s ease-in-out; */
}

.hover10:hover img {
    -webkit-filter: grayscale(50%) blur(3px);
    filter: grayscale(50%) blur(3px);
}
