.carousel-item {
    max-height: 400px;
    min-width: 100%;
    object-fit: fill;
}

.underline-custom {
    text-decoration: underline;
}

/* Product Section */

.product-section {
    /* margin-top: 50px; */

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10px;
    /* background-color: antiquewhite; */
}

.promo-wrap {
    text-align: center;
}

.promo-text {
    font-weight: bold;
    font-size: 35px;
}

.card-wrap {
    display: flex;
    gap: 25px;
    flex-direction: column;
    width: 100%;
}

.card-wrap-section {
    /* background-color: aqua; */
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.card {
    border: none;
    background-color: transparent;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* border-radius: 8px; */
    transition: transform 0.4s ease;
}

.card:hover {
    cursor: pointer;
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.img-card {
    max-height: 250px;
    background-color: transparent;
    border-radius: 25px;
}

.card-text {
    font-size: 14px;
    color: gray;
    line-height: normal;
}

.line-height-normal {
    line-height: normal;
}

.btn-pesan {
    justify-self: end !important;
}

.space-wrap-section {
    margin-top: 35px;
    padding: 0 10px;
}

.wrap-space-section {
    position: relative;
}

.space-section-text {
    position: absolute;
}

.title-text-ss {
    /* font-family: Arial, sans-serif; */
    font-size: 40px;
}

.title-wood,
.title-webbing {
    font-weight: bold;
    line-height: normal;

    padding: 10px 20px;
    border-radius: 18px;
}

.title-wood {
    top: 8%;
    left: 4%;
    background-color: rgba(240, 236, 236, 0.5);
}

.title-webbing {
    top: 8%;
    left: 70%;
    display: flex;
    flex-direction: column;
    background-color: rgba(77, 76, 76, 0.7);
}

.btn-wood,
.btn-webbing {
    position: absolute;
    font-size: 20px;
}

.btn-wood {
    top: 80%;
    left: 86%;
}

.btn-webbing {
    top: 85%;
    left: 3%;
    color: white;
}

.wood-sungkai-section {
    display: flex;
    gap: 10px;
    width: 100%;
    /* background-color: aqua; */
}

.wood-sungkai-section .wrap-sungkai {
    flex: 1;
}

.wrap-sungkai img {
    height: 450px;
}

.wrap-sungkai-text {
    position: absolute;
    top: 40%;
    left: 0%;
    transition: all 0.5 ease;

    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    line-height: normal;
    /* background-color: aqua; */
}

.title-sungkai {
    color: rgba(0, 0, 0, 0.5);

    font-size: 40px;
    font-weight: 800;
}

.sungkai-text {
    font-size: 20px;
    margin-bottom: 25px;
}

.sungkai-text,
.more-polos {
    position: relative !important;
    left: 90% !important;
}

.hover10:hover .title-sungkai {
    color: rgba(0, 0, 0, 1) !important;
}

.hover10:hover .sungkai-text {
    left: 0% !important;
}

.hover10:hover .more-polos {
    left: 0% !important;
}
/* ... */
